<div class="external">

<%= form_for(@tbl_medium) do |f| %>
  <% if @tbl_medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tbl_medium.errors.count, "error") %> prohibited this tbl_medium from being saved:</h2>

      <ul>
      <% @tbl_medium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Value %><br>
    <%= f.number_field :Value %>
  </div>
  <div class="field">
    <%= f.label :Value2 %><br>
    <%= f.number_field :Value2 %>
  </div>
  <div class="field">
    <%= f.label :ToolTip %><br>
    <%= f.text_field :ToolTip %>
  </div>
  <div class="field">
    <%= f.label :RedirectLink %><br>
    <%= f.text_field :RedirectLink %>
  </div>
  <div class="field">
    <%= f.label :Type %><br>
    <%= f.text_field :Type %>
  </div>
  <div class="field">
    <%= f.label :Status %><br>
    <%= f.check_box :Status %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn_submit" %>
  </div>
<% end %>
</div>