<h1 class="index1">Category Management</h1>
<div class="index3">
  <%= link_to 'Add New Category', new_tbl_category_path , :class => "btn_submit"%>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#category").css("background-color", "red");

    });
</script>
<table class="index2">
  <thead>
    <tr>
      <th>ID   </th>
      <th>Title   </th>
      <th>URL   </th>
      <th>Type   </th>
      <th>Isprimarynav   </th>
      <th>Issecondarynav   </th>
      <th>Status   </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tbl_categories.each do |tbl_category| %>
      <tr>
        <td><%= tbl_category.CategoryID %></td>
        <td><%= tbl_category.CategoryTitle %></td>
        <td><%= tbl_category.CategoryURL %></td>
        <td><%= tbl_category.Type %></td>
        <td><%= tbl_category.IsPrimaryNav %></td>
        <td><%= tbl_category.IsSecondaryNav %></td>
        <td><%= tbl_category.Status %></td>
        <td id="viewitem"><%= link_to 'View', tbl_category %></td>
        <td id="edititem"><%= link_to 'Edit', edit_tbl_category_path(tbl_category) %></td>
        <td id="deleteitem"><%= link_to 'Delete', tbl_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<!--<style type="text/css">
    #viewitem  a {
        position: relative;
        right: -5px;

    }
    #edititem  a {
        position: relative;
        right: -15px;

    }
    #deleteitem  a {
        position: relative;
        right: -26px;

    }
</style>-->
