<h1  class="show1">PageBanner Information</h1>
<script type="text/javascript">
    $(document).ready(function(){
        $("#pagebanner").css("background-color", "red");

    });
</script>
<div class="show2">
<p id="notice"><%= notice %></p>

<p>
  <strong>Pageid:</strong>
  <%= @tbl_page_banner.PageID %>
</p>

<p>
  <strong>Bannerid:</strong>
  <%= @tbl_page_banner.BannerID %>
</p>
</div>
<div class="show3">
<%= link_to 'Edit', edit_tbl_page_banner_path(@tbl_page_banner) , :class => "btn_submit"%> |
<%= link_to 'Back', tbl_page_banners_path, :class => "btn_submit" %>
</div>