<div class="external">
<%= form_for(@tbl_content) do |f| %>
  <% if @tbl_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tbl_content.errors.count, "error") %> prohibited this tbl_content from being saved:</h2>

      <ul>
      <% @tbl_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :ContentName %><br>
    <%= f.text_field :ContentName %>
  </div>
  <div class="field">
    <%= f.label :ContentValue %><br>
    <%= f.text_area :ContentValue %>
  </div>
  <div class="field">
    <%= f.label :ContentType %><br>
    <%= f.text_field :ContentType %>
  </div>

      <div class="field">
    <%= f.label :ContentStatus %><br>
    <%= f.check_box :ContentStatus %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => "btn_submit" %>
  </div>
<% end %>
</div>