<div class="external">
  <%= form_for(@tbl_global) do |f| %>
  <% if @tbl_global.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tbl_global.errors.count, "error") %> prohibited this tbl_global from being saved:</h2>

      <ul>
      <% @tbl_global.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Token %><br>
    <%= f.text_field :Token %>
  </div>
  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Status %><br>
    <%= f.check_box :Status %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn_submit" %>
  </div>
<% end %>
</div>
